<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
   
  <h1>
    Welcome to {{ title }}!
  </h1>
  <h1>
    Generate your {{ title1 }}!
  </h1>
  <img alt="ICT Logo" src="ICT.png">

<br>
<br>



<div class="container">




<form (ngSubmit)="onSubmit(f)" #f="ngForm">
 

        Name:
        <input type="text" name="getname" placeholder="Name" required ngModel >
        <br>
        College:
        <input type="text" name="getcollege" ngModel>
        <br>
        Candidate code:
        <input type="text" name="getcandidatecode" ngModel>
        <br>
        Semester:
        <input type="text" name="getsemester" ngModel>
        <br>
        Subject1 Name:
        <input type="text" name="getsub1name" ngModel>
        <br>
        Subject1 marks obtained:
        <input type="text" name="getsub1marks" ngModel>
        <br>
        Subject1 marks total:
        <input type="text" name="getsub1total" ngModel>
        <br>
        Subject2 Name:
        <input type="text" name="getsub2name" ngModel>
        <br>
        Subject2 marks obtained:
        <input type="text" name="getsub2marks" ngModel>
        <br>
        Subject2 marks total:
        <input type="text" name="getsub2total" ngModel>
        <br>
        Subject3 Name:
        <input type="text" name="getsub3name" ngModel>
        <br>
        Subject3 marks obtained:
        <input type="text" name="getsub3marks" ngModel>
        <br>
        Subject3 marks total:
        <input type="text" name="getsub3total" ngModel>
        <br>
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
        <br>
        <app-display [name]="name" [college]="college" 
        [candidatecode]="candidatecode" [semester]="semester"
        [subject1name]="subject1name" [subject2name]="subject2name"
        [subject3name]="subject3name" [subject1marks]="subject1marks"
        [subject2marks]="subject2marks" [subject3marks]="subject3marks"
        [subject1total]="subject1total" [subject2total]="subject2total"
        [subject3total]="subject3total" [grade1]="grade1" [grade2]="grade2"
        [grade3]="grade3" [status]="status"
         ></app-display>
        
        
        
        
        


        
        
        
  
</form>


</div>


