<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <h2>
    Generate your {{title1}}
  </h2>
  <img alt="ICTA logo" src="ICT.png">
</div>


<div class="container">

  <form  >

        Name:
        <input type="text" name="getname" ngModel>
        <br>
        College:
        <input type="text" name="getcollege" ngModel>
        <br>
        Candidate code:
        <input type="text" name="getcandidatecode" ngModel>
        <br>
        Semester:
        <input type="text" name="getsemester" ngModel>
        <br>
        Subject1 Name:
        <input type="text" name="getsub1name" ngModel>
        <br>
        Subject1 marks obtained:
        <input type="text" name="getsub1marks" ngModel>
        <br>
        Subject1 marks total:
        <input type="text" name="getsub1total" ngModel>
        <br>
        Subject2 Name:
        <input type="text" name="getsub2name" ngModel>
        <br>
        Subject2 marks obtained:
        <input type="text" name="getsub2marks" ngModel>
        <br>
        Subject2 marks total:
        <input type="text" name="getsub2total" ngModel>
        <br>
        Subject3 Name:
        <input type="text" name="getsub3name" ngModel>
        <br>
        Subject3 marks obtained:
        <input type="text" name="getsub3marks" ngModel>
        <br>
        Subject3 marks total:
        <input type="text" name="getsub3total" ngModel>
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
        {{name}}
       
      </form>


</div>
