body{background-color: blueviolet}
h1 {
    color: chartreuse;
background-color: red;
background-blend-mode: color-burn;
background-blend-mode: hue;
backface-visibility: inherit;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-style: italic;
box-shadow: 0vmax
}
h2 {
    border: 1px solid powderblue;
}