<h1>Here is your marklist</h1>
<p>  
  Name:{{name}}
  <br>
  College:{{college}}
  <br>
  candidatecode:{{candidatecode}}
  <br>
  semester:{{semester}}
  <br>
  subject1name:{{subject1name}}
  <br>
  subject1marks:{{subject1marks}}
  <br>
  subject1total:{{subject1total}}
  <br>
  subject2name:{{subject2name}}
  <br>
  subject2marks:{{subject2marks}}
  <br>
  subject2total:{{subject2total}}
  <br>
  subject3name:{{subject3name}}
  <br> 
  subject3marks:{{subject3marks}}  
  <br>
  subject3total:{{subject3total}}
  <br>
  
Sub1 grade:{{grade1}}
<br>
Sub2 grade:{{grade2}}
<br>
Sub3 grade:{{grade3}}
<br>
Status: {{status}}

 
</p>
